[Unit]
Description=launch audio controller script after system startup
After=network.target

[Service]
Type=simple
Environment="USER=cat"
ExecStart=/bin/bash -c "sudo -u ${USER} bash /home/${USER}/xwsoft/audio_controller/script/setup/audio_controller_service.sh"
RemainAfterExit=yes
KillMode=process

[Install]
WantedBy=multi-user.target